#content-root {
    

padding: 10px;
display: grid;
grid-template-columns: 1fr 1fr 1fr;
margin-left: 100px;
margin-right: 100px;



} 

#cartita {
    background-color: aliceblue;
    padding: 20px;
    border: 2px  rgb(48, 48, 48) solid;
    border-radius: 5px;
    margin: 25px;
    align-items: center;
    text-align: center ;

    
    
    } 

    .imgBitcoin {
        max-width: 2px;
        max-height: 2px;
    }