#navbar {
      background-color: #33383b;
}

body {
      background-color: #818181;
      background-image: url("../img/background.webp");
      background-size: cover;
      background-repeat: no-repeat;
      background-attachment: fixed;
}


/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
      scrollbar-width: none;
      scrollbar-color: #eeff00 #00011f;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
      width: 10px;
}

*::-webkit-scrollbar-track {
      background: #00011f;
}

*::-webkit-scrollbar-thumb {
      background-color: #eeff00;
      border-radius: 0px;
      border: -1px none #ff0000;
}